{% extends "displug/base.html" %}
{% block displug_content %}
{% if devices_list %}
{% load staticfiles %}
<div>
    <table class="table table-hover" id="table_list">
        <tr align="center">
            <th>Name</th>
            <th>Consumption</th>
            <th>Monthly Consumption</th>
            <th>Schedule action</th>
            <th>(De)Active</th>
        </tr>
        {% for device in devices_list %}
            <tr>
                <td>{{ device.name }}
                    {% if device.consumption > 5 %}
                        <i class="material-icons">&#xe002;</i>
                    {% endif %}
                </td>
                <td>{{ device.consumption}}KWh</td>
                <td>
                    {{device.monthly_consumption}}KWh
                </td>
                <td><a href="schedule"><b>Schedule</b></a></td>
                <td>
                    {% if device.active %}
                    <input class="btn btn-danger" type="submit" value="Turn OFF">
                    {% else %}
                    <input class="btn btn-primary" type="submit" value="Turn ON">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% else %}
    <li>No devices yet.</li>
{% endif %}
{% endblock %}