{% extends "displug/base.html" %}
{% block portal_content %}
{% if devices_list %}
<h1>Displug</h1>
<div>
    <table class="table table-hover" id="table_list">
        <tr align="center">
            <th>Name</th>
            <th>Consumption</th>
            <th>(De)Active</th>
        </tr>
        {% for device in object_list %}
            <tr>
                <td>{{ device.name }}</td>
                <td>{{ device.consumption}}KWh</td>
                <td>
                    {% if device.active %}
                        <input class="btn btn-danger" type="submit" value="Turn OFF">
                    {% else %}
                        <input class="btn btn-primary" type="submit" value="Turn ON">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% else %}
    <li>No devices yet.</li>
{% endif %}
{% endblock %}